<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mubble.Data.Properties.Settings.mubbleConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=mubble;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>