<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Id="{d249ba4f-55c7-4aea-8038-6b0db49205f1}" Name="Blog Engine">
  <Controls>
    <Control Id="{67B3CFF3-36A9-44FD-91F1-DB19582A65C7}" Order="0" FileName="Blog.aspx" Name="Blog" ActiveObjectsType="Mubble.Models.Controllers.Blog, Mubble.Models" Type="Site Structure" IsContent="false"  IsContentContainer="true">
      <AdminControls>
        <AdminControl Name="Manage Posts" FileName="Blog.aspx" Order="0" IsDefault="true" />
		<AdminControl Name="Blog Settings" FileName="BlogSettings.aspx" Order="1" IsDefault="false" />
      </AdminControls>
      <Routes>
		<Route ID="{591CBE87-4419-44A7-A23D-795860CA8935}" Pattern="/post/(?&lt;Year&gt;\d{4})(?&lt;Month&gt;\d{2})(?&lt;Day&gt;\d{2} )-(?&lt;Slug&gt;.+ )\.html" Order="100" Name="Retro Style - /20060603-1234.html" FormatString="/post/{0:0000}{1:00}{2:00}-{3}.html" />
        <Route ID="{ECBCF0A5-86C8-42B3-94C5-828D92FA328F}" Pattern="/? (?&lt;Year&gt;(?&lt;=/) \d{4} )?  /? (?&lt;Month&gt;(?&lt;=/) \d{1,2} )?  /? (?&lt;Day&gt;(?&lt;=/) \d{1,2} )?  /? ((?&lt;=/)p(?&lt;Page&gt;\d+)$)? /? (?&lt;Slug&gt;(?&lt;=/) [^/]+$)?" FormatString="/{0:0000}/{1:00}/{2:00}/{3}" Order="101" IsDefault="true" />
      </Routes>      
    </Control>
  </Controls>
  <PermissionFlags>
    <PermissionFlag Name="Administer all posts" Flag="post full" />
  </PermissionFlags>
</Module>