/* PAX Styles */
#arsPAX h4 { background: url(arsPAX_hdr.gif) no-repeat; text-indent: -9999px;height:69px; margin-bottom:15px; width:580px; margin-left: auto; margin-right: auto; }
#arsPAX li { margin-bottom: 5px; height: 86px; background-repeat: no-repeat; }
#arsPAX li div { padding-top: 14px;  padding-left: 20px; padding-right: 20px; }
#arsPAX li strong.username { display: none; }
#arsPAX li span.hashtag { display: none; }

/* Kuchera bubbles */
#arsPAX li.BenKuchera { padding-left: 62px;background-position: top left; color: white; }
#arsPAX li.BenKuchera a:link { color: white;}
#arsPAX li.BenKuchera a:visited { color: #aaa;}
#arsPAX li.BenKuchera div { background: url(even-bg-top.gif) no-repeat 8px top;}
#arsPAX li.BenKuchera h5 { display: block; height: 20px; background: url(even-bg-bottom.gif) no-repeat; margin:0; width: 100%; padding:0; margin-right: 8px;}
#arsPAX li.BenKuchera { background-image: url(ben-floating-head.gif); }


/* Odd bubbles */
#arsPAX li.frankycaron, #arsPAX li.FrankyCaron { padding-right: 62px; background-position: top right; color:white; }
#arsPAX li.frankycaron a:link, #arsPAX li.FrankyCaron a:link { color: white;}
#arsPAX li.frankycaron a:visited, #arsPAX li.FrankyCaron a:visited { color: #aaa;}
#arsPAX li.frankycaron div, #arsPAX li.FrankyCaron div { background: url(odd-bg-top.gif) no-repeat 14px top; padding-right: 30px;}
#arsPAX li.frankycaron h5, #arsPAX li.FrankyCaron h5 { display: block; height: 20px; background: url(odd-bg-bottom.gif) no-repeat right top; margin:0; width: 100%; padding:0; margin-right: 8px;}
#arsPAX li.frankycaron, #arsPAX li.FrankyCaron { background-image: url(frank-floating-head.gif); }

/* Neither Bubbles */
#arsPAX li.null { padding-left: 72px;background-position: top left; color: white; }
#arsPAX li.null a:link { color: white;}
#arsPAX li.null a:visited { color: #aaa;}
#arsPAX li.null div { background: url(even-bg-top.gif) no-repeat 8px top;}
#arsPAX li.null h5 { display: block; height: 20px; background: url(even-bg-bottom.gif) no-repeat; margin:0; width: 100%; padding:0; margin-right: 8px;}
#arsPAX li.null { background-image: url(pax_avatar.gif); }