<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="jscripts/prototype.js"></script>
    <script type="text/javascript" src="jscripts/effects.js"></script>
    <script type="text/javascript" src="jscripts/behavior.js"></script>  
    <script type="text/javascript" src="jscripts/fun.js"></script>
    <!--[if !IE 7]>
    <script type="text/javascript" src="jscripts/iesux.js"></script>
    <![endif]-->
</head>
<body>
    <div id="Masthead" class="FullWidth">
        <a href="#"><img src="images/logo.gif" alt="Ars Technica" class="Logo" /></a>    
        <div class="Nav">
            <ul class="Subscribe Menu">
            
            </ul>
            <ul class="Tabs Menu">
                
            </ul>
        </div>
    </div>
    <div id="Banner" class="FullWidth">
        <div class="Ad">
        	<!-- BEGIN: AdSolution-Website-Tag 4.3 : Ars Technica / HomePage 728x90 FRONT-->
			<script language="javascript" type="text/javascript">
			Ads_kid=0;Ads_bid=0;Ads_xl=728;Ads_yl=90;Ads_xp='';Ads_yp='';Ads_xp1='';Ads_yp1='';Ads_opt=0;Ads_wrd='[KeyWord]';Ads_par='';Ads_cnturl='';
			</script>
			<script type="text/javascript" language="javascript" src="http://a.as-us.falkag.net/dat/cjf/00/13/75/56.js"></script>
			<!-- END:AdSolution-Tag 4.3 -->
        </div>
        <a href="#"><img src="images/new-face.gif" alt="The new face of Ars" /></a>
    </div>
    <div id="Nav" class="FullWidth">
        <ul class="Site Menu">
            <li><a href="#"><img src="images/articles.gif" alt="Articles" /></a></li>
            <li><a href="#"><img src="images/guides.gif" alt="Guides" /></a></li>
            <li><a href="#"><img src="images/journals.gif" alt="Journals" /></a></li>
            <li class="Search">
                <form><img src="images/search.gif" alt="Search" /><input type="text" class="Text" name="s" /><img src="images/go.gif" alt="Go" /></form>
            </li>
        </ul>
        <ul class="Sub Menu">
            <li><a href="#"><img src="images/shop-ars.gif" alt="Shop.ars" /></a></li>
            <li><a href="#"><img src="images/emporium.gif" alt="Emporium" /></a></li>
            <li><a href="#"><img src="images/rss.gif" alt="RSS" /></a></li>
            <li><a href="#"><img src="images/forum.gif" alt="Forum" /></a></li>
        </ul>
    </div>
    <div id="Content" class="FullWidth">
        <div class="Featured"><img src="images/aperture-review.jpg" /><img src="images/iptv-intro.gif" /><img src="images/vista-b2.gif" /></div>
        <div class="News">
            <h2><span>From the news desk</span></h2>
            <h3 class="Age0">Civil liberties vs national security: a panel report</h3>
            <p>Three prominent panelists recently debated the issue, and Hannibal was there to report on their exchange. 
            Hannibal also weighs in with his own thoughts, and provides some historical context.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Jon Hannibal Stokes</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age1">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age2">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age3">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age4">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age4">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age4">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age4">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age4">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
            
            <h3 class="Age4">Network neutrality interests Senators and Moonie-owned newspapers alike</h3>
            <p>Network neutrality has faced a bumpy ride in Congress, but a Senate committee considering the issue looks 
            ready to adopt some compromise legislation in the next few weeks. Editorial voices inside the Beltway aren't 
            always helping matters, however.</p>
            <p class="Tag">05.24.06 - 11:04 am - by Nate Anderson</p>
            <p class="Options"><img src="images/full-story.gif" alt="Full Story" /> <img src="images/discussion.gif" alt="Discussion" /></p>
        </div>
        <div class="Bubbles">
            <div class="Bubble TopStories">
                <h2><a href="#"><img src="images/top-stories.gif" alt="Top Stories" /></a></h2>
                <ul class="Headlines">
                    <li>Google Earth for Linux now available</li>
                    <li>Sony to offer free online play, placing its online revenue hopes on e-Distribution</li>
                    <li>iPod City: Apple criticized for factory conditions</li>
                    <li>Google gets ready to say GBuy; PayPal on the hit list?</li>
                    <li>Microsoft moves enterprise security to the "Forefront"</li>
                </ul>
                <h3><a href="#"><span><img src="images/more.gif" alt="More" /></span></a></h3>
            </div>
            <div class="Bubble OpenForum">
                <h2><a href="#"><img src="images/openforum.gif" alt="OpenForum" /></a></h2>
                <ul class="Headlines">
                    <li>I have a new enemy - the mole. How can I eradicate it?</li>
                    <li>Fix your overheating MacBook Pro: Before and After</li>
                    <li>Browser issues: Why is Flash Player such a CPU hog?</li>
                    <li>Vista errors with Windows Update and Remote Desktop Connection</li>
                </ul>
                <h3><a href="#"><span><img src="images/more.gif" alt="More" /></span></a></h3>
            </div>
            <div class="Bubble DontMiss">
                <h2><a href="#"><img src="images/dont-miss.gif" alt="Don't Miss" /></a></h2>
                <ul class="Headlines">
                    <li>Aperture 1.1 review</li>
                    <li>A tour of Windows Vista Beta 2</li>
                    <li>An introduction to IPTV</li>
                </ul>
                <h3><a href="#"><span><img src="images/more.gif" alt="More" /></span></a></h3>
            </div>   
            <div class="Bubble Poll">
                <h2><a href="#"><img src="images/poll-technica.gif" alt="Poll" /></a></h2>
                <ul class="Headlines">
                    <li>I have a new enemy - the mole. How can I eradicate it?</li>
                    <li>Fix your overheating MacBook Pro: Before and After</li>
                    <li>Browser issues: Why is Flash Player such a CPU hog?</li>
                    <li>Vista errors with Windows Update and Remote Desktop Connection</li>
                </ul>
                <h3><a href="#"><span><img src="images/more.gif" alt="More" /></span></a></h3>
            </div>         
        </div>
        <div id="Sidebar">
            <div class="Ad">
                <!-- BEGIN: AdSolution-Website-Tag 4.3 : Ars Technica / HomePage Rectangle Dynamic -->
	            <script language="javascript" type="text/javascript">
	            Ads_kid=0;Ads_bid=0;Ads_xl=0;Ads_yl=0;Ads_xp='';Ads_yp='';Ads_xp1='';Ads_yp1='';Ads_opt=0;Ads_wrd='[KeyWord]';Ads_par='';Ads_cnturl='';
	            </script>
	            <script type="text/javascript" language="javascript" src="http://a.as-us.falkag.net/dat/cjf/00/13/75/57.js"></script>
	            <!-- END:AdSolution-Tag 4.3 -->
	        </div>
	        <div class="Journals">
	            <h2><span>Ars Journals</span></h2><ul class="Tabs Menu">
	                <li class="Tab"><img src="images/journal-tab-all.gif" /></li>
	                <li class="Tab"><img src="images/journal-tab-apple.gif" /></li>
	                <li class="Tab"><img src="images/journal-tab-thumbs.gif" /></li>
	                <li class="Tab"><img src="images/journal-tab-ms.gif" /></li>
	                <li class="Tab"><img src="images/journal-tab-science.gif" /></li>
	                <li class="Tab"><img src="images/journal-tab-staff.gif" /></li>
	            </ul>
	            <ul class="Headlines Loading">
	                <li class="Apple" style="display: none;"><a href="#">Mail.app experiences widescreen, three pane bliss via plugin</a></a></li>
                    <li class="Science" style="display: none;"><a href="#">Computers and the lab</a></li>
                    <li class="Science" style="display: none;"><a href="#">Nuclear physicists turn to drug development</a></li>
                    <li class="Science" style="display: none;"><a href="#">Streamlining a genome</a></li>
                    <li class="Science" style="display: none;"><a href="#">Poking people with a sharp stick</a></li>
                    <li class="Microsoft" style="display: none;"><a href="#">Restart Manager: it was never so easy to recover from an application hang</a></li>
                    <li class="Microsoft" style="display: none;"><a href="#">Microsoft Certified Architect program: welcome to the certification gauntlet</a></li>
                    <li class="Microsoft" style="display: none;"><a href="#">Microsoft places Windows Genuine Advantage on cheaper calling plan</a></li>
                    <li class="Microsoft" style="display: none;"><a href="#">Ten reasons your servers should run Longhorn</a></li>
                    <li class="Thumbs" style="display: none;"><a href="#">The Wookie blaster and the Brute shot from Halo 2. Separated at birth?</a></li>
                    <li class="Thumbs" style="display: none;"><a href="#">Your daily console gaming overload: every box in chronological order</a></li>
	            </ul>
	            <h3><a href="#"><img src="images/view-more.gif" alt="View More" /></a></h3></div>
	        <div class="FromTheJournals Microsoft">
	            <h2><span>From the Journals</span></h2>
	            <h3 class="Age3">Microsoft places Windows Genuine Advantage on cheaper calling plan</h3>
	            <p>Microsoft has increased the time interval between Windows Genuine Advantage's pings back to the homeland. 
	            Is 14 days acceptable? How about 14 days and a little settings file?</p>
	            <p class="Tag">Posted June 14, 2006 @ 9:24PM - M-Dollar</p>
	            <p class="Options">
	                <img src="images/read-more.gif" alt="Read More" />
	            </p>
	        </div>
	        <div class="NewsArchive">
	            <h2><span>Recent News Archive</span></h2>
	            <ul class="Headlines">
	                <li>“We Are the World" meets 'Net neutrality</li>
                    <li>eBay users finally see fruit of Skype acquisition</li>
                    <li>ESA to Oklahoma: see you in court</li>
                    <li>Novell gets into identity management</li>
                    <li>Microsoft's Moore sets record straight on 360 compatibility</li>
                    <li>Is James Joyce's estate misusing its copyright?</li>
                    <li>RIAA: Illegal downloads peaking</li>
                    <li>Another online music service steps into the on-deck circle</li>
                    <li>Say "cheese": Microsoft's new webcams</li>
                    <li>Dell jumping on the 802.11n bandwagon early</li>
                    <li>Network neutrality interests Senators and Moonie-owned newspapers alike</li>
                    <li>VoIP providers must allow government wiretaps</li>
                    <li>Google Earth for Linux now available</li>
                    <li>Sony to offer free online play, placing its online revenue hopes on e-Distribution</li>
	            </ul>
	            <h3><img src="images/news-archive.gif" alt="News Archive" /></h3>
	        </div>
        </div>
        <div id="Footer">
            
        </div>        
    </div>
</body>
</html>