<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Name="Basic Content" Id="{de691346-a714-489f-9741-d5aea60c3de7}">
  <Controls>
    <Control Id="{152D7361-5CFD-4A76-B2C9-4FB230F3773C}" Order="0" FileName="Single.aspx" Name="Informational page" Type="Content" IsContent="true">
      <AdminControls>
        <AdminControl Name="Edit &quot;{filename}&quot;" FileName="Content.aspx" Order="0" IsDefault="true" />
      </AdminControls>
    </Control>
  </Controls>
</Module>