- var section = ViewData.Item as Mubble.Data.Section
- if(section != null)
  - var children = section.List(1,20)
  %p Showing
    = children.TotalCount
    Items
  %table{ id = "children" }
    %thead
      %tr
        %th
        %th Title
        %th Publish Date
        %th Status
    %tbody
      - foreach(var child in children)
        %tr
          %td
          %td
            %a{ href = child["Path"] }= child["Title"]
          %td{ class = "utc:" + child.PublishDate.ToJavascriptUtc() }= child["PublishDate"]
          %td= child["Status"]