<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Id="{2b5f94ca-6dd3-4c0b-8272-060447cdde8e}" Name="Sections">
  <Controls>
    <Control Id="{483EDB19-3EB5-48F9-B37B-F734B73456F3}" Order="0" FileName="Section.aspx" Name="Content List" Type="Site Structure" ActiveObjectsType="Mubble.Models.Controllers.Section, Mubble.Models" IsContent="false"  IsContentContainer="true">
      <AdminControls>
        <AdminControl Name="Edit &quot;{filename}&quot;" FileName="Section.aspx" Order="0" IsDefault="true" />
      </AdminControls>      
    </Control>
    <Control Id="{1244EE69-2D40-46E8-AAC7-74B3FCE948B7}" Order="1" FileName="Query.aspx" Name="Query result" Type="Site Structure" IsContent="false"  IsContentContainer="true" ActiveObjectsType="Mubble.Models.Controllers.Query, Mubble.Models">
      <AdminControls>
        <AdminControl Name="Edit &quot;{filename}&quot;" FileName="Query.aspx" Order="0" IsDefault="true" />
      </AdminControls>
    </Control>
  </Controls>
</Module>