<?xml version="1.0" encoding="utf-8"?>
<Module xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Name="Featured Content" Id="{d95340c7-2310-49a6-8e8e-f0fb203331c3}">
	<Controls>
		<Control Id="{0CAC0093-E9F6-433A-A4B1-5FE241F01545}" Order="0" FileName="Article.aspx" Name="Published article" Type="Content" IsContent="true" ActiveObjectsType="Mubble.Models.Controllers.Article, Mubble.Models">
			<AdminControls>
				<AdminControl Name="Edit &quot;{filename}&quot;" FileName="Article.aspx" Order="0" IsDefault="true" />
			</AdminControls>
			<Routes>
				<Route ID="{0CAC0093-E9F6-433A-A4B1-5FE241F01545}" Pattern="/? (?&lt;PageNumber&gt;(?&lt;=/) \d+ )"  Order="101" Name="Pages - /1" FormatString="/{0}" IsDefault="true" />
			</Routes>
		</Control>
	</Controls>
</Module>