<html><head>
<script language=JavaScript>
function gup( name )
{
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href );
  if( results == null )
    return "";
  else
    return decodeURIComponent(results[1]);
}

function load_script()
{
  var pid = gup('p') * 1;
  var path = gup('path');
  var script = 'http://' + pid + '.btrll.com/' + path;

  var scriptNode = document.createElement('script');
  scriptNode.type = 'text/javascript';
  scriptNode.src=script; 
  document.getElementsByTagName("head")[0].appendChild(scriptNode);
  return false;
}
</script>
</head>
<body onLoad='load_script()'>
</body></html>