<site>
	<connectionStrings mode="staging">
		<add name="mubbleDBRead" connectionString="Data Source=db.arstechnica.com;Initial Catalog=arstechnica;User Id=ars;Password=H4mm3rt1m3"/>
		<add name="mubbleDBWrite" connectionString="Data Source=db.arstechnica.com;Initial Catalog=arstechnica;User Id=ars;Password=H4mm3rt1m3"/>
		<add name="mubbleProviders" connectionString="Data Source=db.arstechnica.com;Initial Catalog=arstechnica;User Id=ars;Password=H4mm3rt1m3"/>
	</connectionStrings>
	<handlers primaryExtension=".ars" mode="production">
		<handler type="RssHandler" extension="*.rssx" />
		<handler type="MediaHandler" extension="*.media" />
		<handler type="AdminHandler" extension="*.admin" />
		<handler type="JsonHandler" extension="*.json" />
	</handlers>
	<administration></administration>
	<redirects>
		<redirect pattern="(.*)/(?&lt;FileName&gt;[^/]*)/index.html" />
		<redirect pattern="(.*)/(?&lt;FileName&gt;[^/]+)-(?&lt;PageNumber&gt;\d{1,3}).html" />
		<redirect pattern="(.*)/(?&lt;FileName&gt;[^/]+).html" />
	</redirects>
	<xpath path="system.web/authentication">
		<authentication mode="Forms">
			<forms name=".arsauth" timeout="50000000" />
		</authentication>
	</xpath>
	<xpath path="system.web/test">
		<haha/>	
	</xpath>
</site>